body {
  overflow-x: hidden;
  font-family: 'Roboto';
}
#home {
  background-image: url(../images/assets/h_img.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100%;
  height: 665px;
  margin: 0;
  padding: 0;
}
.logo {
  position: relative;
  top: 25%;
  left: 48%;
  width: 60px;
  height: 60px;
}
.mouse {
  position: relative;
  top: 49%;
  left: 48%;
}
#banner-text {
  position: relative;
  top: 30%;
  color: #fff;
}
#about {
  background-color: #F9FBE7;
}
.about-body {
  font-size: 16px;
}
.thick{
  position: relative;
  width: 100%;
  left: 0;
  font-size: 18px;
  margin-bottom: 4%;
}

.slim{
  position: relative;
  width: 100%;
  left: 0;
  font-size: 18px;
  word-wrap: break-word;
}

#services {
  background-image: url(../images/assets/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 488px;
  color: #fff;
}
.services-body {
  font-size: 16px;
}

#work{
  background-color: #F9FBE7;
}
#portfolio{
  background-color: #F9FBE7;
}
#ico_design{
  position: relative;
  left: 45%;
  height: 50px;
  width: 50px;
}

#ico_dev{
  position: relative;
  left: 45%;
  height: 50px;
  width: 50px;
}
#ico_product{
  position: relative;
  left: 45%;
  height: 50px;
  width: 50px;
}


#ico_text_des{
  position: relative;
  left: 38%;
}
#ico_text_dev{
  position: relative;
  left: 30%;
}
#ico_text_prod{
  position: relative;
  left: 20%;
}

#portfolio .col{
  margin-bottom: 2%;
}

#contact{
  background-color: #F9FBE7;
  background-image: url(../images/assets/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 100%;
  color: #fff;
}
.c_row{
  margin-left: 10%;
  margin-right: 10%;
}
 .rectangle{
   width: 100%;
   height: 50px;
   border:2px solid #fff;
   margin-bottom: 4%;
 }
 .rectangle_message{
   width: 100%;
   height: 155px;
   border:2px solid #fff;
   margin-bottom: 4%;
 }
.rectangle h6{
  position: relative;
  left:2%;
  top: 15%;
}

.rectangle_message h6{
   position: relative;
   left:1%;
   top:40%;
 }
