.imgs_contr{
  background-image: ('assets/assets/h_img.jpg') transparent center center no-repeat;
  /*background-image: URL() background-repeat: no-repeat;*/
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#center-img{
  padding-left: 6%;
}
#img_mouse{
  position: absolute;
  top: 85%;
  left: 50%;
}
.about{
  background-color: gray
}
.about-cont{
  padding-top: 6%;
  padding-bottom: 6%;
}
.about-text-1,.about-text-2{
  margin-left: 30%;
  margin-right: 30%;
}
.service-head{
  position: absolute;
  top:10%;
}
#img-text{
  position: absolute;
  top: 5%;
  left: 40%;
  color:#fff;
}
