body {
  overflow-x: hidden;
}
#home {
  background-image: url(../images/assets/h_img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100%;
  height: 665px;
  margin: 0;
  padding: 0;
}
.logo {
  position: relative;
  top: 25%;
  left: 48%;
  width: 60px;
  height: 60px;
}
.mouse {
  position: relative;
  top: 49%;
  left: 48%;
}
#banner-text {
  position: relative;
  top: 30%;
  color: #fff;
}
#about {
  background-color: #FFFDE7;
}
.about-body {
  font-size: 16px;
}
#services {
  background-image: url(../images/assets/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 488;
  color: #fff;
}
.services-body {
  font-size: 16px;
}

#work{
  background-color: #FFFDE7;
}
#ico_design{
  position: absolute;
  left: 40%;
  height: 50px;
  width: 50px;
}

#ico_dev{
  position: absolute;
  left: 43%;
  height: 50px;
  width: 50px;
}
#ico_product{
  position: absolute;
  left: 38%;
  height: 50px;
  width: 50px;
}


#ico_text_des{
  position: absolute;
  left: 37%;
}
#ico_text_dev{
  position: absolute;
  left: 33%;
}
#ico_text_prod{
  position: absolute;
  left: 20%;
}
